{% extends "products/main.html"%}
<h1>Meu carrinho</h1>

{% block content %}
<div class="cart-body-page">
    <div class="cart-container">
                <div class="cart-flex-item">
                        {% for item in cart %}
                            {% with product=item.product %}
                            <div class="flex-item-row" >    
                                <div>       
                                    <div class="flex-item-product">
                                        <div>{{product.name}}</div>
                                        <div><img class="cart-product-img" src="{{ product.product_image.url }}" alt=""></div>
                                    </div>
                                </div>
                                <div> 
                                    <form action="{% url 'cart:add' product.id %}" method="POST">
                                            {% csrf_token %} {{item.replace_quantity_form.as_p}}
                                            <button class="row-update-button" type="submit">Atualizar</button> 
                                    </form> 
                                    <div>
                                        <form action="{% url 'cart:remove' product.id %}" method="DELETE">
                                            <button class="row-remove-button" type="submit">Excluir</button>
                                        </form>
                                    </div>
                                </div>                                
                                <div class="flex-item-total-price">
                                    <strong>R$ {{item.item_total_price}}</strong>
                                </div>
                            </div>
                            {% endwith %}
                        {% endfor %}
                </div>    
        </div>
        <div class="checkout-div">
            <div class="checkout-total_p">
                <p>Total: <strong>{{cart.get_total_price}}</strong></p>
        </div>
            <button class="checkout-button" ><a href='{% url "orders:create" %}'><strong>Finalizar compra</strong></a></button>
        </div> 
    </div>    
</div>
{% endblock %}