{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <title>E-commerce</title>
</head>
<body>
    {% include "products/navbar.html" %}
    
    {% block content%}
    {% csrf_token %}
    {% endblock %}   
    <script src="https://unpkg.com/imask@6.0.7/dist/imask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script>
        window.Mercadopago.setPublishableKey("{{PUBLIC_KEY}}");
    </script>
    <script src="{% static 'products/js/payment.js' %}">
    </script>
    {% block script %}
    {% endblock script %}
</body>