{% block content %}
    <nav class="nav">
      <div>
        <form  method="GET">
            <input class="searchbar" type="text" name="searchbar" value="{{searchbar}}" placeholder="Procure por produtos...">
            <input class="searchbar-button" type="submit" value="Procurar">
        </form>
      </div>
        <div>
            <ul class="topic-list">
                <a href="{% url 'product:list'%}"><li class="barindex">Home</li></a>
                <a href="{% url 'cart:detail'%}"><li class="barindex">Carrinho</li></a>
                <li class="barindex" >Sobre</li>
                <li class="barindex" >Produto</li>
            </ul>
        </div>
    </nav>

{% endblock %}