{% extends 'products/main.html' %}

    {% block content %}
    <div class="home-page-title">
        <h1>Seja Bem-vindo a Nomadic.</h1>
    </div>
        <div class="main-container">
            {% for p in product %}
                <div class="product-card">
                    {% if p.product_image %}
                    <div class="product-card-div" >
                        <div class="product-card-title">
                            <a href="{% url 'product:detail' p.slug %}">{{p.name}}</a>
                        </div>
                        <div>
                            <img class="product-card-image" src="{{p.product_image.url}}" alt="">
                        </div>
                        {% else %}
                            <div>
                                <p>Não há imagem</p>                   
                            </div>
                        {% endif %}
                        <div>
                              <p><strong>R$ {{p.price}}</strong></p>
                        </div>
                    </div>
                    <div>
                        <form class="add-cart-form" action="{% url 'cart:add' p.id %}" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="add-cart-button" >Adicionar ao carrinho</button>
                        </form>
                    </div>       
                </div>
            {% endfor %}
        </div>
    {% endblock %}