{% extends 'products/main.html' %}

    {% block content %}
    <h1>Product List</h1>
        <div class="main-container">
            {% for p in product %}
                <div class="product-card">
                    {% if p.product_image %}
                    <div class="product-card-title">
                        <a href="{% url 'product:detail' p.slug %}">{{p.name}}</a>
                    </div>
                    <div>
                        <img class="product-image" src="{{p.product_image.url}}" alt="">
                    </div>
                    {% else %}
                        <div>
                            <p>Não há imagem</p>                   
                        </div>
                    {% endif %}
                    <div>
                          <p>{{p.price}}</p>
                    </div>
                    <div style="background-color: green;">
                        <form action="{% url 'cart:add' p.id %}" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button>Adicionar ao carrinho</button>
                        </form>
                    </div>       
                </div>
            {% endfor %}
        </div>
    {% endblock %}