@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 50px;
    padding: 5px 5%;
    align-items: center;
    box-shadow: 0px 2px 10px 0px grey;
}
.searchbar {
    border-radius:8px;
    padding: 10px;
    width: 25vw;
}
.searchbar-button {
    padding: 10px;
    border-radius:10px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.searchbar-button:hover {
    background-color: rgb(204, 204, 204);
}
.barindex {
    list-style-type: none;
    padding:0px 5px;
}
.topic-list {
    display: flex;
}  
.home-page-title{
    display: flex;
    justify-content: center;
    
}
.home-thumbnail{
    padding: 10px;
    display: flex;
    height: 50vh;
    width: 90vw;
    margin: auto;
}
.description-thumbnail{
    background-color: black;
    color: white;
    padding: 10px;
}
.main-container{
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.product-card{
    margin: 10px;
    width: min-content;
    box-shadow: 5px 5px 15px 0px grey;
}
.product-card-image{
    width: 15vw;
}
.product-card-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.product-details{
    margin: 0px;
}
.product-card-title a{ 
    color: black;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
@media only screen and (max-width: 320px){
    .nav {
        flex-direction: column;
        flex-wrap:wrap;
    }
    .searchbar{
        width: 35vw;
    }
}
.cart-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 15px 0px grey;
    width:70vw;  
    border-radius: 5px;
}
.cart-flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-item-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.row-remove-button{
    padding: 8px 35px 8px;
    border-radius: 3px;
    border-style: none;
    color: white;
    background-color: rgb(235, 12, 12);
    margin: 2px;
}
.row-remove-button:hover{
    background-color: rgb(191, 0, 0);
}
.row-update-button{
    margin: 2px;
    padding: 8px 35px 8px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    color: white;
    background-color: rgb(0, 0, 0);
}
.row-update-button:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}

.flex-item-product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.flex-item-total-price{
    font-size: 30px;
}
.cart-body-page{
    padding: 50px;
    display: flex;
    background-color: white;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.cart-product-img{
    width: 10vw;
}
.add-cart-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.add-cart-button{
    padding:15px;
    border-style: none;
    background-color: rgb(0, 187, 0);
    color: rgb(242, 242, 242);
    width: 100%;
}
.add-cart-button:hover{
    background-color: rgb(0, 170, 0);
}
.checkout-div{
    display: flex;
    box-shadow: 5px 5px 15px 0px grey;  
    height: 75vh;
    width: 20vw;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
}
.checkout-button{
    height: 15vh;
    width: 100vw;
    font-size: 20px;
    background-color: black;
    color: white;
}
.checkout-total_p{
    text-align: center;
    height: 15vh;
    width: 100vw;
}
.checkout-total_p p{
    font-size: 30px;
}

.order-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.order-form{
    padding: 10px 30px;
    display: flex;
    box-shadow: 0px 2px 10px 0px grey; 
}
.order-form input,select{
    border-color: rgb(187, 187, 187);
    border: none;
    border-bottom: 2px solid rgb(158, 158, 158);
    padding: 3px;
    border-radius: 5px;
    box-sizing:border-box
}

.order-resume{
    box-shadow: 0px 2px 10px 0px grey;
    display: flex;
    padding: 0px 20px;
}
.order-resume-total{
    display: flex;
    justify-content: space-between;   
}
.order-resume-items{
    display: flex;
    justify-content: space-between;
}
.order-form button{
    padding: 15px 20px;
    border-radius: 3px;
    width: 20vw;
    background-color:#00a621;
    color: white;
    border: none;
}
.order-form button:hover{
    background-color:#00921d;
}
.order-resume-box{
    width: 40vw;
}